<div>
	<div class="Search_text">Search</div>
	<form>
		<div class="CoreRange_contain">
			<div class="row">
				<div class="col-md-2 col-xs-5 Common_text">Select a LeadAI:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
				</select>
				</div>
				<a class="col-md-1" style="line-height:25px;"></a>
				<div class="col-xs-12 col-lg-1 col-md-1 col-sm-12 inline_height"></div>
				<div class="col-md-2 col-xs-5 Common_text">RU Name:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
			</div>
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 line_height"></div>
			<div class="row">
				<div class="col-md-2 col-xs-5 Common_text">Destination:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
				</select>
				</div>
				<a class="col-md-1" style="line-height:25px;"></a>
				<div class="col-xs-12 col-lg-1 col-md-1 col-sm-12 inline_height"></div>
				<div class="col-md-2 col-xs-5 Common_text">SCP Name:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
			</div>
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 line_height"></div>
			<div class="row">
				<div class="col-md-2 col-xs-5 Common_text">or Sub Area:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
				</select>
				</div>
				<a class="col-md-1" style="line-height:25px;"></a>
				<div class="col-xs-12 col-lg-1 col-md-1 col-sm-12 inline_height"></div>
				<div class="col-md-2 col-xs-5 Common_text">EPM Name:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
			</div>
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 line_height"></div>
			<div class="row">
				<div class="col-md-2 col-xs-5 Common_text">Phase Out year:</div>
				<div class="col-md-1 col-xs-3">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
				<div class="col-md-1 col-xs-2 Common_text">LOC:</div>
				<div class="col-md-1 col-xs-2">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
				<a class="col-md-1" style="line-height:25px;"></a>
				<div class="col-xs-12 col-lg-1 col-md-1 col-sm-12 inline_height"></div>
				<div class="col-md-2 col-xs-5 Common_text">Current Inventory:</div>
				<div class="col-md-3 col-xs-7">
					<select class="form-control Common_select">
  						<option>All</option>
  						<option>2</option>
  						<option>3</option>
					</select>
				</div>
			</div>
		</div>
		<div class="second_contain">
			<div class="row col-md-12 col-xs-12">
                <button type="button" class="btn_style btn-default" ng-click="PhaseOuts.TableShow()">
                    <div class="btn_bg"></div>
                    Run Filters&nbsp;&nbsp;&nbsp;
                </button>
                <button type="button" class="btn_style btn-default" ng-click="PhaseOuts.TableHide()">
                    <div class="btn_bg"></div>
                    Clear Filters&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
			</div>
		</div>
		<div class="thrid_contain">
			<div class="row">
				<div class="col-md-2 col-xs-4 Common_text">No. of Items Found:</div>
				<div class="col-md-1 col-xs-2">
					<input class="form-control Common_input1" id="disabledInput" type="text" placeholder="">
				</div>
			</div>
		</div>
        <div class="thrid_contain" ng-show="PhaseOuts.ShowTable">
            <div class="row line_height_buttom">
                <table class="table table-hover" style="width:600px; margin-left:15px" border="1" cellpadding="3%" width="95%">
                    <thead>
                        <tr style="background-color: #ffec8b;">
                            <th>
                                <div>
                                    SU AGI
                                </div>
                            </th>
                            <th>
                                <div>
                                    LCC
                                </div>
                            </th>
                            <th>
                                <div>
                                    Lead AI
                                </div>
                            </th>
                            <th>
                                <div>
                                    Formulation
                                </div>
                            </th>
                            <th>
                                <div>
                                    A Number
                                </div>
                            </th>
                            <th>
                                <div>
                                    UC AGI
                                </div>
                            </th>
                            <th>
                                <div>
                                    PO YEAR
                                </div>
                            </th>
                            <th>
                                <div>
                                    Destination
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="POD in PhaseOuts.PhaseOutsDetails">
                            <td>
                                <div ng-bind="POD.SU">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.LCC">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Lead">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Formulation">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Number">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.AGI">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.YEAR">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Destination">

                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover" style="width:600px; margin-left:15px" border="1" cellpadding="3%" width="95%">
                    <thead>
                        <tr style="background-color: rgb(220, 220, 220);">
                            <th>
                                <div>
                                    Reporting Unit
                                </div>
                            </th>
                            <th>
                                <div>
                                    Jan
                                </div>
                            </th>
                            <th>
                                <div>
                                    Feb
                                </div>
                            </th>
                            <th>
                                <div>
                                    Mar
                                </div>
                            </th>
                            <th>
                                <div>
                                    Apr
                                </div>
                            </th>
                            <th>
                                <div>
                                    May
                                </div>
                            </th>
                            <th>
                                <div>
                                    Jun
                                </div>
                            </th>
                            <th>
                                <div>
                                    Jul
                                </div>
                            </th>
                            <th>
                                <div>
                                    Aug
                                </div>
                            </th>
                            <th>
                                <div>
                                    Sep
                                </div>
                            </th>
                            <th>
                                <div>
                                    Oct
                                </div>
                            </th>
                            <th>
                                <div>
                                    Nov
                                </div>
                            </th>
                            <th>
                                <div>
                                    Dec
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="POD in PhaseOuts.PhaseOutsDetails">
                            <td>
                                <div ng-bind="POD.SU">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.LCC">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Lead">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Formulation">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Number">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.AGI">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.YEAR">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Destination">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Number">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.AGI">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.YEAR">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Destination">

                                </div>
                            </td>
                            <td>
                                <div ng-bind="POD.Destination">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="13">
                                <a>SCP Comments</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</form>
</div>