<div>
    <div class="Search_text">Manage Contacts Based On Request Type</div>
    <div class="CoreRange_contain">
        <div class="row line_height_buttom">
            <table class="table table-hover" style="width:450px; margin-left:15px" border="1" cellpadding="3%" width="95%">
                <thead>
                    <tr style="background-color: #ffec8b;">
                        <th>
                            <div>
                                Type
                            </div>
                        </th>
                        <th>
                            <div>
                                Name
                            </div>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contacts in ctrlReqstTypeContacts.rqTypeContacts">
                        <td>
                            <div ng-bind="contacts.RequestContact_Type">

                            </div>
                        </td>
                        <td>
                            <div style="float:left" ng-hide="!EditPart && UserName == $index" ng-bind="contacts.UserName">

                            </div>
                            <div style="float:left" ng-show="!EditPart && UserSelect == $index">
                                <div class="table_btn">
                                    <input type="text" size="20" name="upfile" id="upfile" class="form-control Small_input1" ng-model="InputText1" ng-readonly="true">
                                    <input type="button" value="..." class="btn btn-default file_btn1" ng-click="ctrlReqstTypeContacts.openFirst()">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="float:left" ng-click="EditClick($index)" ng-hide="!EditPart && hideSingleRow == $index">
                                <a>Edit</a>
                            </div>
                            <div ng-show="!EditPart && UpdatePart == $index" class="Edit_col">
                                <div style="float:left;margin-right:10px;" ng-click="UpdateClick($index,contacts)">
                                    <a>Update</a>
                                </div>
                                <div style="float:left" ng-click="CancelClick($index)">
                                    <a>Cancel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="first_contain">
        <div class="row col-md-12 col-xs-12" style="float:left">
            <button type="button" class="btn_style btn-default" ng-click="goState()">
                <div class="btn_bg1"></div>
                &nbsp;&nbsp;Back
            </button>
        </div>
    </div>
</div>
